@model List<Dominio.Usuario>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Mantenimiento de Usuarios</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box me-2 mb-2 d-inline-block">
                            <form action="@Url.Action("Index","Usuario")" method="get">
                                <div class="position-relative">
                                    <input type="text" name="buscar" class="form-control" placeholder="Buscar...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <a href="@Url.Action("Crear","Usuario",new{id=0})" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2">
                                <i class="mdi mdi-plus me-1"></i>
                                Crear Usuario
                            </a>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle">ID</th>
                                <th class="align-middle">Usuario</th>
                                <th class="align-middle">Apellidos y Nombres</th>
                                <th class="align-middle">DNI</th>
                                <th class="align-middle">Celular</th>
                                <th class="align-middle">Estado</th>
                                <th class="align-middle">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UsuarioId</td>
                                    <td>@item.Nombre</td>
                                    <td>
                                        @item.Persona.NombreCompleto
                                    </td>
                                    <td>
                                        @item.Persona.NumeroDocumento
                                    </td>
                                    <td>
                                        @item.Persona.Celular
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-soft-success font-size-12">@(item.Estado?"ACTIVO":"INACTIVO")</span>
                                    </td>
                                    <td>
                                        <div class="d-flex gap-3">
                                            <a href="@Url.Action("Crear","Usuario",new {id=item.UsuarioId})" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="tbUsuario" class="table compact ">
                    <thead class="table-light">
                        <tr>
                            <th class="align-middle">Usuario</th>
                            <th class="align-middle">Apellidos y Nombres</th>
                            <th class="align-middle">DNI</th>
                            <th class="align-middle">Celular</th>
                            <th class="align-middle">Estado</th>
                            <th class="align-middle">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
   @* <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    *@
    <script>
        $(function() {
            $("#tbUsuario").DataTable({
                pageLength: 3,
                "processing": true,
                "serverSide": true,
                //"filter": true,
                order: [[1, 'asc']],
                "ajax": {
                    "url": "@Url.Action("ListaUsuarios","Usuario")",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    //{ "data": "usuarioId" },
                    { "data": "usuario", "name": "Nombre" },
                    { "data": "nombreCompleto", "name": "Persona.NombreCompleto" },
                    { "data": "dni", "name": "Persona.NumeroDocumento" },
                    { "data": "celular", "name": "Persona.Celular" },
                    { "data": "estado", "name": "Estado" },
                    {
                        "data": "usuarioId", "render": function(data) {
                            return "<a href='#' onclick='EditarUsuario(" + data + ")' class='text-success'><i class='mdi mdi-pencil font-size-18'></i></a>";
                        }
                    }
                ],
                //columnDefs: [{ targets: 0, visible: false }],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json'
                },
                search: {
                    return: true,
                },
                lengthChange: !1, 
                buttons: ["copy", "excel", "pdf", "colvis"],
                dom: 'Bfrtip',
                //buttons: [
                //    {
                //        extend: 'copyHtml5',
                //        exportOptions: { orthogonal: 'export' }
                //    },
                //    {
                //        extend: 'excelHtml5',
                //        exportOptions: { orthogonal: 'export' }
                //    },
                //    {
                //        extend: 'pdfHtml5',
                //        exportOptions: { orthogonal: 'export' }
                //    }
                //]
            }).buttons().container().appendTo("#tbUsuario_wrapper .col-md-6:eq(0)");

        });
        function EditarUsuario(id) {
            //alert(id);
            window.location.href = "@Url.Action("Crear","Usuario")" + "/" + id;
        }
    </script>

}